.ant-comment-inner{
    padding: 0px !important;
}
.ant-comment{
    padding: 5px 20px;
}
.ant-comment p{
    margin-bottom: 0px !important;
}
.message-sender{
    font-weight: bold;
    font-size: 13px;
    color: #525252 !important;
}
.message-sender small {
    font-size: 11px;
    padding-left: 5px;
    color: #939292;
    font-weight: normal;
}
.ant-comment:hover, .grouped-message:hover{
    background: rgb(245, 244, 244);
}

.grouped-message{
    padding-left: 10px;
}
.grouped-message div{
 display: inline;
 line-height: 30px;
 min-height: 30px;
}
.grouped-message p{
    margin-bottom : 0px;
}
.grouped-message small{
    visibility: hidden;
}
.grouped-message:hover  small{
    visibility: visible;
}