{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["prettier", "prettier/react"],
  "rules": {
    "indent": [2, "tab"],
    "linebreak-style": ["error", "windows"],
    "no-tabs": 0
  }
}
