.room-title{
  font-size: 16px;
  font-weight: bold;
}
.room-settings .ant-menu-horizontal{
  border-bottom: none;
  width: 50px;
  float: right;
  margin-top: 10px;
}
.room-settings .ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected{
  border-bottom: none !important;
}
.room-settings .ant-menu-horizontal > .ant-menu-item, .ant-menu-horizontal > .ant-menu-submenu{
  border-bottom: none !important;
}
.room-settings .ant-menu-item, .ant-menu-submenu-title{
  width: 30px;
}
.room-settings .ant-menu-item, .ant-menu-submenu-title{
  padding: 0px;
}