.channel-info .ant-drawer-body{
    padding: 0px;
}
.channel-info .ant-collapse-content-box{
    padding : 0px !important;
}
.channel-info div #channel-creator{
    padding: 0px 10px 10px 10px;
}
.channel-info svg{
    font-size: 16px;
}
.channel-users{
    border-right: none !important;
}
.channel-users .ant-menu-item{
    margin-top: 0px;
    margin-bottom:0px !important;
    line-height: 38px !important;
    margin-top: 0px !important;
    padding-left: 10px !important;
}
.channel-users .ant-menu-item .ant-avatar{
    margin-right: 5px !important;
}
.channel-users .ant-menu-item-selected{
    background: #1890ff !important;
    color: #fff;
}

.channel-users .ant-menu-item-selected:hover{
    color: #fff;
}