.logged-user{
    padding: 10px;
    color: #fff;
}
.logged-user span{
    font-weight: bold;
    margin-left: 10px;
}
.rooms-list{
    margin-top: 20px !important;
}

.channel-group .ant-menu-item{
    color: rgb(216, 216, 216) !important;
    overflow-x : scroll;
}
.sidebar {
    letter-spacing: 0.5px;

}
.channel-group .ant-menu-item, .add-channel{
    height: 30px !important;
    line-height: 30px !important;
    padding: 0 10px 0 15px !important;
    margin-top: 0px;
    margin-bottom:0px !important;
}

.channel-group .anticon-lock{
    margin-right: 2px !important;
    font-size: 12px;
    width: 10px;
}
/* .channel-group .ant-menu-item span{
    font-size: 16px;
    margin-right: 3px;
} */

.channel-group .ant-badge-count{
    border-radius: 16px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    height: 18px;
    line-height: 18px;
    margin-left: 4px;
    margin-top: 6px;
    box-shadow : none;
    padding: 0 9px;
}
.channel-group .unread-message{
    font-weight: bold;
    color: #fff !important;
}


.add-channel{
    margin: 10px 0px 10px 0px !important;
}

#channels{
    cursor: pointer;
    user-select: none;
}

.online-status{
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.online {
  background-color: #7D0;
  /* box-shadow: #000 0 -1px 7px 1px, inset #460 0 -1px 9px, #7D0 0 2px 12px; */
}

.offline {
  border: 2px solid rgb(170, 169, 169);
}
