.messagebox-container{
    border: 2px solid rgb(201, 201, 201);
    border-radius: 4px;
    padding: 2px;
}
.slack-message{
    font-weight: bold !important;
    border : none !important;
    outline: none !important;
    margin-top: 2px !important;
}
.slack-message:focus{
    box-shadow:none !important;
}
.smiley{
    padding: 0 10px !important;
    color: #40a9ff !important;
    font-size: 20px !important;
}
.emoji-mart button{
    outline: none !important;
}